site_name: PR-Agent
repo_url: https://github.com/qodo-ai/pr-agent
repo_name: Qodo-ai/pr-agent

nav:
  - Overview:
    - 'index.md'
    - Data Privacy: 'overview/data_privacy.md'
  - Installation:
    - 'installation/index.md'
    - PR-Agent: 'installation/pr_agent.md'
  - Usage Guide:
    - 'usage-guide/index.md'
    - Introduction: 'usage-guide/introduction.md'
    - Configuration File: 'usage-guide/configuration_options.md'
    - Usage and Automation: 'usage-guide/automations_and_usage.md'
    - Managing Mail Notifications: 'usage-guide/mail_notifications.md'
    - Changing a Model: 'usage-guide/changing_a_model.md'
    - Additional Configurations: 'usage-guide/additional_configurations.md'
    - Frequently Asked Questions: 'faq/index.md'
  - Tools:
     - 'tools/index.md'
     - Describe: 'tools/describe.md'
     - Review: 'tools/review.md'
     - Improve: 'tools/improve.md'
     - Ask: 'tools/ask.md'
     - Add Docs: 'tools/add_docs.md'
     - Generate Labels: 'tools/generate_labels.md'
     - Similar Issues: 'tools/similar_issues.md'
     - Help: 'tools/help.md'
     - Help Docs: 'tools/help_docs.md'
     - Update Changelog: 'tools/update_changelog.md'
  - Core Abilities:
      - 'core-abilities/index.md'
      - Compression strategy: 'core-abilities/compression_strategy.md'
      - Dynamic context: 'core-abilities/dynamic_context.md'
      - Fetching ticket context: 'core-abilities/fetching_ticket_context.md'
      - Interactivity: 'core-abilities/interactivity.md'
      - Local and global metadata: 'core-abilities/metadata.md'
      - Self-reflection: 'core-abilities/self_reflection.md'
  - PR Benchmark:
      - PR Benchmark: 'pr_benchmark/index.md'

#  - Code Fine-tuning Benchmark: 'finetuning_benchmark/index.md'

theme:
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  custom_dir: overrides

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: custom
      accent: custom
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: custom
      accent: custom

plugins:
  - social
  - search
  - glightbox

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/qodo-ai/pr-agent

extra_css:
  - css/custom.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - md_in_html
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      title: On this page
      toc_depth: 3
      permalink: true


copyright: |
  &copy; 2026 PR-Agent Contributors
